 <div class="container mt-5">
    <div class="col-lg-8 offset-lg-2">
        <div class="card">
            <div class="card-body ">
                <h3 class="titulo">Devices</h3>
            </div>
        </div>
    </div>
</div>

<div class="row mt-4">
   <div class="col-lg-10">
        <div class="card">
            <div class="card-body">
               <h5 class="titulo">{{accion|uppercase}} Device</h5> 

               <form [formGroup]="form" (ngSubmit)="saveDevice()">
                <div class="input-group input-group-lg mb-2">                   
                    <input  formControlName="vendor" type="text" minlength="2" maxlength="50" class="form-control" placeholder="Vendor" >
                  </div>
                  <div class="input-group input-group-lg mb-2">                   
                    <input formControlName="dateCreated"  type="datetime-local" class="form-control" placeholder="Date of Created" >
                  </div>
                  <!-- <div class="input-group input-group-lg mb-2">                   
                    <input formControlName="status"  type="text" class="form-control" placeholder="Status Offline/Online" >
                  </div> -->
                  <select formControlName="status" name="GatewayStatus" [(ngModel)]="StatusDeviceSelected"  class="form-control form-control-lg select-option">
                    <option [value]="status.value" *ngFor="let status of listStatus">{{status.name}}</option>
                 </select>

                  <!-- <div class="input-group input-group-lg mb-2">                   
                    <input formControlName="gatewaySerialNumber"  type="text" class="form-control" placeholder="Serial Number of Gateway" >
                  </div> -->
                  <select formControlName="gatewaySerialNumber" name="Gateway" [(ngModel)]="SerialGatewaySelected" class="form-control form-control-lg select-option">
                    <option  *ngFor="let gateway of listGateways">{{gateway.serialNumber}}</option>
                 </select>
                 
                  <div class="d-grid gap-2">
                     <button [disabled]="this.form.invalid" type="submit" class="btn btn-success btn-lg">
                        <i class="fa-solid fa-database"></i>&nbsp;Save</button>
                  </div>                
               </form>
            </div>
        </div>
    </div>
    <div class="col-lg-10">
        <div class="card">
            <div class="card-body">
               <h5 class="titulo">List of Devices</h5> 
               <table class="table"> 
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Vendor</th>
                        <th scope="col">Status</th>
                        <th scope="col">Date of Created</th>
                        <th scope="col">Serial Number</th>
                   
                    </tr>
                  </thead>
                
                   <tbody>
                       <tr class="selectforrow" *ngFor="let listDevice of listDevices">
                            <td>{{listDevice.uid}} </td>   
                            <td>{{listDevice.vendor}} </td>
                            <td>{{listDevice.status}}</td>
                            <td>{{listDevice.dateCreated}}</td>
                            <td>{{listDevice.gatewaySerialNumber}}</td>
                  
                           <td>
                               <button class="btn btn-success" (click)="editDevice(listDevice)">Edit</button>                               
                           </td>
                           <td>
                           <button class="btn btn-danger" (click)="deleteDevice(listDevice.uid)">Delete</button>
                           </td>
                         
                       </tr>
                       
                   </tbody>
               </table>
            </div>
        </div>

    </div>
</div>

