<!-- <div class="container mt-5">
    <div class="col-lg-10 offset-lg-2">
        <div class="card" >
            <div class="card-body " >
                <h3 class="titulo" style="align-items: center;">Gateways</h3>
            </div>
        </div>
    </div>
</div> -->

<div class="row mt-1" style="flex-direction: row; align-content: space-between;">
     <div class="col-lg-10" style="flex-direction: row; align-content: space-between;align-items: center; display: inline;"> 
        <div class="card">
            <div class="card-body"> 
                <h5 class="titulo">{{action|uppercase}} Gateways</h5> 

               <form [formGroup]="form" (ngSubmit)="saveGateway()">
                  <mat-form-field appearance="outline" lass="input-group input-group-lg mb-3">
                    <mat-label>Serial Number</mat-label>
                    <input matInput formControlName="serialNumber" type="text" minlength="2" maxlength="450" style="width: 100% !important;" placeholder="Serial Number">
                    <mat-icon matSuffix>vpn_key</mat-icon>
                    <mat-hint>Hint</mat-hint>            
                  </mat-form-field>
                  <mat-form-field appearance="outline" lass="input-group input-group-lg mb-3">
                    <mat-label>Name of Gateway</mat-label>
                    <input matInput formControlName="name" type="text" minlength="2" maxlength="450" style="width: 100% !important;" placeholder="Name of Gateway">
                    <mat-icon matSuffix>directions_bus</mat-icon>
                    <mat-hint>Hint</mat-hint>            
                  </mat-form-field>
                  <mat-form-field appearance="outline" lass="input-group input-group-lg mb-3">
                    <mat-label>IPV4</mat-label>
                    <input matInput formControlName="ipV4" type="text" minlength="7" maxlength="15" size="15"  style="width: 100% !important;" placeholder="IPV4    Example: 10.0.0.1    Format: 000.000.000.000" pattern="^((\d{1,2}|1\d\d|2[0-4]\d|25[0-5])\.){3}(\d{1,2}|1\d\d|2[0-4]\d|25[0-5])$">
                    <mat-icon matSuffix>desktop_windows</mat-icon>
                    <mat-hint>Hint</mat-hint>            
                  </mat-form-field>
                  <div class="d-grid gap-2">
                        <button [disabled]="this.form.invalid" mat-raised-button color="primary"  type="submit"> 
                            <mat-icon color="white" style="margin-right: 4px !important; size: 0.7rem !important; margin-right: 5% !important;">
                                favorite
                              </mat-icon>                          
                        <i class="fa-solid fa-database"></i>&nbsp;Save</button>
                  </div>                
               </form> 
            </div>
        </div>
    </div> 
    <!-- <div class="col-lg-10">
        <div class="card">
            <div class="card-body">
               <h5 class="titulo">List of Gateways</h5> 
               <table class="table"> 
                <thead>
                    <tr>
                        <th scope="col">Serial Number</th>
                        <th scope="col">Name</th>
                        <th scope="col">IPV4</th>
                        <th scope="col">Actions</th>
                                        
                    </tr>
                  </thead>
                
                   <tbody>
                       <tr class="selectforrow" *ngFor="let listGateway of listGateways">
                            <td>{{listGateway.serialNumber}} </td>   
                            <td>{{listGateway.name}} </td>
                            <td>{{listGateway.ipV4}}</td>
                                              
                           <td>
                            <mat-icon class="mat-icon-action" color="primary" (click)="editGateway(listGateway)">edit</mat-icon>
                            <mat-icon class="mat-icon-action" color="warn" (click)="deleteGateway(listGateway.serialNumber)">delete</mat-icon>
                            <mat-icon class="mat-icon-action" color="primary" (click)="getListDevicesOfGateway(listGateway.serialNumber)">more_horiz</mat-icon>
                           </td>                       
                         
                       </tr>
                       
                   </tbody>
               </table>
            </div>
        </div>

    </div> -->

    <div class="container col-lg-10" style="width: 100% !important;">
        <div style="margin-top: 10px;">
            <mat-form-field appearance="standard">
                <mat-label>Filter</mat-label>
                <input matInput (keyup)="applyFilter($event)" placeholder="you Write a Gateway to want search" #input>
              </mat-form-field>

              <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" matSort>
              
                  <!-- ID Column -->
                  <ng-container matColumnDef="serialNumber">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Serial Number </th>
                    <td mat-cell *matCellDef="let row"> {{row.serialNumber}} </td>
                  </ng-container>
              
                  <!-- Progress Column -->
                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                    <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                  </ng-container>
              
                  <!-- Name Column -->
                  <ng-container matColumnDef="ipV4">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> IPV4 </th>
                    <td mat-cell *matCellDef="let row"> {{row.ipV4}} </td>
                  </ng-container>
              
                  <!-- Fruit Column -->
                  <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions </th>
                    <td mat-cell *matCellDef="let row"> 
                        <button mat-icon-button color="primary">
                            <mat-icon class="mat-icon-action" color="primary" (click)="editGateway(row)">edit</mat-icon>                            
                        </button>
                        <button mat-icon-button color="want">
                            <mat-icon class="mat-icon-action" color="warn" (click)="deleteGateway(row.serialNumber)">delete</mat-icon>
                        </button>
                        <button mat-icon-button color="primary">
                            <mat-icon class="mat-icon-action" color="primary" (click)="getListDevicesOfGateway(row.serialNumber)">more_horiz</mat-icon>
                        </button>
                    </td>
                  </ng-container>
              
                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              
                  <!-- Row shown when there is no matching data. -->
                  <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
                  </tr>
                </table>
              
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
              </div>
        </div>
    </div>

</div>
