.container{
    padding: 3% !important;
    align-items: center;
    margin-left: 0px !important;
    width: 100% !important;
    display: inline !important;
}

.offset-lg-2{
    margin-left: 0px !important;
    width: 100% !important;
}

.card-body{
    align-items: center;
}
.selectforrow{
    background-color: white;
}

.selectforrow:hover{
    background-color: rgb(215, 209, 250) !important;
    /*color: white !important;*/
}
/* .selectforrow::selection{
    background-color: rgb(157, 109, 201) !important;
    color: white !important;
} */
mat-form-field{
    width: 100% !important;
}
.mat-icon-action{
    margin: 8px !important;
}