<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">      
        <li class="nav-item">
          <a class="nav-link" routerLink="/gateways">Gatewways</a>
          <!-- <app-gateway [ListGatewayCaptures]="listGatewayApp"></app-gateway> -->
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/devices">Devices</a>
        </li>   
        <li class="nav-item">
          <a class="nav-link"  routerLink="/gatewaysPeripheralDevices" style="display: none;">Peripheral Devices of Gateway</a>
        </li>   
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>