mat-form-field{
    width: 100% !important;
}
.button-dialog{
    margin: 8px ;
    margin-left: 0px !important;
    
}
.button-dialog-save{
    margin-right: 20px !important;
}
.mat-icon-action{
    margin: 8px !important;
}